html, body {
  overflow-x: hidden;
}
body{
    background-color:#444444;
    text-align: center;
}
p{
    font-family: 'Raleway', sans-serif;
    color: White;
    

}

.alt-chart{
    font-size: 1rem;;
}
.align-center{
    align-items: center;
    text-align: center;
}
.bold-text{
    font-weight: 400;
    font-size: 2rem;
    font-family:monospace;
}
.chart{
    display: inline-block;
}
.ch1{
    padding: 2% 2% 2% 2%;
}
.ch2{
    padding: 2% 2% 2% 2%;
}
.name-link{
    font-size: 2rem;
    margin: 0;
    
    display: inline;
    padding: 0 2% 0 2%;
}
.nav
{
   position: fixed;
   top: 0px;
}
.navbar-brand{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: white;
    position: relative;
}
a.navbar-brand {
    display: contents;
}
.reading{
    padding-top: 2%;
}
.reading-heading{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: white;
    position: relative;
}
.reading-text{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
    font-weight: 200;
    color: white;
    position: relative;
}
.red-1{
    color:#dc3545 ;
}
.footer-text{
    background-color: #dc3545;
    text-align: center;
    padding: 2% 0 2% 0;
    font-family:'Raleway', sans-serif;
    font-size: 15pt;
    color: white;
    position: relative;
    margin: 15% 0 0 0;

}
@media (max-width: 480px) {
    footer {
        position: static;
    }
}
