<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<script src="https://d3js.org/d3.v3.min.js"></script>

<head>
        <meta charset="utf-8">
        <title>OxyTracker</title>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="10">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway:wght@900&display=swap" rel="stylesheet">
        
        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/methods.css">
        <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- D3.js and Chart.js -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>About</title>

</head>

<div>
        <!---------------------------------NAVBAR-------------------------------->
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-danger navbar-default">
                <a class="navbar-brand" href="index.html">OxyTracker</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                        <span class="navbar-toggler-icon"></span>
                </button>
                        
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                                </li>
                        </ul>           
                </div>
        </nav>
  <!----------------------------------------------------------------------->

    <p class="align-center bold-text">A Project by:</p>
    <div class="align-center">
            <p class="name-link">
                    <span><a class="btn btn-primary" role="button" href="">Gurujeet Shetty</a></span>
            </p>
            <p class="name-link">
                    <span><a class="btn btn-primary" role="button" href="">Adithya Kamath</a></span>
            </p>
            <p class="name-link">
                    <span><a class="btn btn-primary" role="button" href="">Rahul SP</a></span>
            </p>
            <p class="name-link">
                    <span><a class="btn btn-primary" role="button" href="">Rishikesh Bose</a></span>
            </p>
    </div>
    <p class="align-center"><a class="btn btn-danger" role="button" href="about.html">To learn more about the
      project click me!</a></p>
  </body>

<footer class = "about-footer">
        <p class="footer-text">A project by Gurujeet, Adithya, Rahul & Rishikesh.</p>
</footer>
</html>
